.el-header{
    padding:0;
    background-color:#242f42;
  }
  
  
  .el-aside{
      width:250px;
      position: absolute;
      left: 0;
      bottom: 0;
      top: 60px;
      background: #304156;
  }
  .el-main{
    background: #f0f0f0;
  }
  